<html>
  <head>
    <title>About</title>
    <body>
      <h1>About Page</h1>
      <nav>
        <a href="/">Go to Home Page</a>
      </nav>
      <form action="/download" method="GET">
        <button type="submit">Download Image</button>
      </form>
      
    </body>
  </head>
</html>