<html>
  <head>
    <title>Home</title>
    <body>
      <h1>Home Page</h1>
      <nav>
        <a href="/about">Go to About Page</a>
      </nav>
      <form action="/submit" method="POST">
      <input type="text" name="name" placeholder="Enter your name">
      <button type="submit">Submit</button>
    </form>
    </body>
  </head>
</html>